
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Owner</button>
    <button class="dropdown-item" type="button">Type</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>

<div>
  <button class="btn btn-primary" routerLink="/owners-add"> Add owner</button>
</div>
<div>
  <ul *ngIf="owners">

    <li *ngFor="let owner of owners">
      <a routerLink="/owners/{{owner.ownerId}}">
        {{owner.firstName}} {{owner.lastName}}</a>
      <button routerLink="/owner-update/{{owner.ownerId}}" class="btn btn-info ml-3">Update</button>
      <button (click)="delete(owner.ownerId)" class="btn btn-danger ml-1"> Delete</button>
    </li>
  </ul>
  <h4 *ngIf="!owners">Loading.....</h4>
</div>


